@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?cy84h0');
  src: url('fonts/icomoon.eot?cy84h0#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?cy84h0') format('truetype'), url('fonts/icomoon.woff?cy84h0') format('woff'), url('fonts/icomoon.svg?cy84h0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-left:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
.icon-vk:before {
  content: "\e900";
}
