.game-replay__bn {
  text-decoration: none;
  display: block;
  margin: 28px 0 0 0;
}
.game-replay__bn img {
  display: block;
  max-width: 100%;
}
@media (max-width: 568px) {
  .game-replay__bn {
    display: none;
  }
}
